# Model files
*.pkl

# Data files
*.csv

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Ignore datasets and models
*.csv
*.xlsx

# Ignore images / outputs
*.png
*.jpeg
*.jpg

# Ignore trained models
*.pkl